 .navigation{
  padding-top:30px;
  padding-bottom:30px;
  position:absolute;
  top:0;
  width:100%;
  z-index:1;
} 

.navbar-right{
  float:right;
  padding-right:6%;
}

.navbar-right a{
  text-decoration:none;
  padding:8px;
  color:#fff;
  font-family:Arial;
  font-weight:400;
  font-size: 12px;
  opacity: 1;
  
}
