 .navigation{
  padding-top:30px;
  padding-bottom:30px;
  position:absolute;
  top:0;
  width:100%;
  z-index:1;
} 

.navbar-right{
  float:right;
  padding-right:6%;
}

.navbar-right a{
  text-decoration:none;
  padding:8px;
  color:#fff;
  font-family:Arial;
  font-weight:400;
  font-size: 12px;
  opacity: 1;
  
}

.navbar-right a:hover{
  color: rgb(24, 209, 24);
}

.navbar-logo{
  padding-left:7%;
 
  
}

.navbar-logo img{
  width: 100px;
  height:30px;

  
}

.Sign-btn{
  background: #3ac280 0 0 no-repeat padding-box;
  border-color: #3ac280;
    border-radius: 20px;
    height: 20px;
    padding: 5px 25px;
    letter-spacing: 0;
    font-size: 4px;
    line-height: 16px;
    margin-left:30px;
    white-space: nowrap;
    min-width: 20px;
}

